# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Файлы IDE, которые Unity может пересоздать
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.mdb

# macOS
.DS_Store

# Временные файлы
*.tmp
*.bak